<!--加载中间模块-->
<div id="lunbo">
	<!------------------------------轮播图------------------------------------>
	<section class="banner" id="banner">
		<div class="pic" id="pic">
			<img src="img/banner1.jpg" />
			<img src="img/banner2.jpg" />
			<img src="img/banner3.jpg" />
			<img src="img/banner4.jpg" />
		</div>
		<div class="icon" id="icon"></div>
	</section>
	<!------------------------------歌曲列表标题------------------------------------>
	<section class="demo1" id="demo1">
			<div class="title">
				<div class="left">
					<h3>推荐歌曲</h3>
				</div>
				<div class="right">
					<a href="#">更多></a>
				</div>
			</div>
	</section>
	<!------------------------------歌曲列表------------------------------------>
	<section class="songList" id="songList"></section>
	
    <!--需要添加的页面数据-->
		<div id="page" style="display: none;">
			<a href="#" class="song1">
				<div class="pic">
					<img src="">
					<div class="positions"></div>
				</div>
				<p></p>
			</a>
		</div>
	<!-----------------------------推荐MV标题------------------------------------>
	<section class="demo2">
		<div class="title">
			<div class="left">
				<h3>推荐mv</h3>
			</div>
			<div class="right">
				<a href="#">更多></a>
			</div>
		</div>
	</section>	
	<!---------------------------------mv列表----------------------------------->
	<section class="mvList">
		<a href="#" class="mv">
			<div class="pic">
				<img src="img/18643319162278619.jpg">
				<div class="positions">30万</div>
			</div>
			<p>有木有一首歌，触动到了你曾经的爱情</p>
		</a>
		<a href="#" class="mv">
			<div class="pic">
				<img src="img/18685100604133296.jpg">
				<div class="positions">30万</div>
			</div>
			<p>有木有一首歌，触动到了你曾经的爱情</p>
		</a>
		<a href="#" class="mv">
			<div class="pic">
				<img src="img/18643319162278619.jpg">
				<div class="positions">30万</div>
			</div>
			<p>有木有一首歌，触动到了你曾经的爱情</p>
		</a>
		<a href="#" class="mv">
			<div class="pic">
				<img src="img/18685100604133296.jpg">
				<div class="positions">30万</div>
			</div>
			<p>有木有一首歌，触动到了你曾经的爱情</p>
		</a>
	
	</section>
</div>