<div id="musiclist">
	
<!------------------------------歌曲列表标题------------------------------------>
	<section class="demo1" id="demo1">
			<div class="title">
				<div class="left">
					<h3>全部歌曲</h3>
				</div>
				<div class="right">
					<a href="#">更多></a>
				</div>
			</div>
	</section>
	<!------------------------------歌曲列表------------------------------------>
	<section class="songList" id="songList"></section>		
</div>




    <!---------------------------歌曲列表单个样式（需要js获取数据添加到属性里面）------------>
		<div id="page" style="display: none;">
			<a href="" class="song1">
				<div class="pic">
					<img src="">
					<div class="positions"></div>
				</div>
				<p></p>
			</a>
		</div>